<footer class="text-center" style="background: #738aff;height: 30px;max-height: 30px;">
    <p class="mb-0" style="color: rgb(255,255,255);font-size: 18px;margin-top: 40px;">Copyright © 2023 mapleinfo All Rights Reserved</p>
</footer>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
