<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MapleInfo</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Articles-Badges-images.css">
    <link rel="stylesheet" href="css/Boostrap-Tabs.css">
    <link rel="stylesheet" href="css/Button-Hover-Animate.css">
    <link rel="stylesheet" href="css/Footer-Basic-icons.css">
</head>

<body class="bg-primary-subtle" style="background: rgb(207, 226, 255);">
<ul class="nav nav-tabs" style="height: 50px;background: #738aff;">
    <li class="nav-item" style="max-height: 50px;"><a class="nav-link" href="/main" style="font-weight: bold;color: rgb(255,255,255);font-size: 20px;margin-right: 10px;max-height: 50px;"><img src="img/02030000.png" style="width: 40px;height: 40px;margin-top: -5px;margin-right: 5px;">공지사항</a></li>
    <li class="nav-item" style="max-height: 50px;"><a class="nav-link" href="/v" style="font-weight: bold;color: rgb(255,255,255);font-size: 20px;margin-right: 10px;max-height: 50px;"><img src="img/v.png" style="width: 40px;height: 40px;margin-top: -5px;margin-right: 5px;">V 매트릭스</a></li>
    <li class="nav-item" style="max-height: 50px;">
        <div class="nav-item dropdown">
            <button class="btn btn-primary" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: #738aff;font-weight: bold;width: 220px;max-width: 220px;min-width: 220px;font-size: 20px;height: 49px;max-height: 49px;border-style: none;">
                <img src="img/hexa.png" width="30" height="30" style="width: 40px;height: 40px;margin-top: -3px; margin-right: 5px">HEXA 매트릭스
            </button>
            <div class="dropdown-menu" style="width: 220px;max-width: 220px;min-width: 220px;background: rgb(179,200,255);">
                <a class="dropdown-item" href="/hexa" style="color: var(--bs-primary);font-weight: bold;">스킬 강화 비용</a>
                <a class="dropdown-item" href="/hexa-calc" style="color: var(--bs-primary);font-weight: bold;">스킬 강화 비용 계산기</a>
            </div>
        </div>
    </li>
    <li class="nav-item" style="max-height: 50px;">
        <div class="nav-item dropdown">
            <button class="btn btn-primary" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: #738aff;font-weight: bold;width: 150px;max-width: 150px;min-width: 150px;font-size: 20px;height: 49px;max-height: 49px;border-style: none;">
                <img src="img/calculator.png" width="30" height="30" style="width: 40px;height: 40px;max-width: 40px;max-height: 40px;margin-top: -3px;">계산기
            </button>
            <div class="dropdown-menu" style="width: 220px;max-width: 220px;min-width: 220px;background: rgb(179,200,255);">
                <a class="dropdown-item" href="/fee-calc" style="color: var(--bs-primary);font-weight: bold;">경매장/교환 수수료 계산기</a>
                <a class="dropdown-item" href="/item-calc" style="color: var(--bs-primary);font-weight: bold;">아이템 가격 계산기</a>
                <a class="dropdown-item" href="/gc-calc" style="color: var(--bs-primary);font-weight: bold;">황금 마차 날짜 계산기</a>
                <a class="dropdown-item" href="/mm-calc" style="color: var(--bs-primary);font-weight: bold;">메소/메포 효율 계산기</a>
            </div>
        </div>
    </li>
    <li class="nav-item" style="max-height: 50px;">
        <div class="nav-item dropdown">
            <button class="btn btn-primary" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: #738aff;font-weight: bold;width: 160px;max-width: 150px;min-width: 150px;font-size: 20px;height: 49px;max-height: 49px;border-style: none;">
                <img src="img/2000387.png" style="width: 35px;height: 35px;margin-top: -5px;margin-right: 5px;">유틸리티
            </button>
            <div class="dropdown-menu" style="width: 220px;max-width: 220px;min-width: 220px;background: rgb(179,200,255);">
                <a class="dropdown-item" href="/wadt" style="color: var(--bs-primary);font-weight: bold;">주 무기 공/마 추가 옵션</a>
                <a class="dropdown-item" href="/bossinfo" style="color: var(--bs-primary);font-weight: bold;">보스몬스터 정보</a>
                <a class="dropdown-item" href="#" style="color: var(--bs-primary);font-weight: bold;">도핑아이템 정보</a>
            </div>
        </div>
    </li>
</ul>