{{>layouts/header}}

    <section class="bg-primary-subtle" style="height: auto;min-height: 1000px;border-bottom-width: 1px;border-bottom-color: #ffffff;background: var(--bs-danger-bg-subtle);">
        {{>hexa/hexa_table}}
    </section>

{{>layouts/footer}}